body{
    background-color: blanchedalmond;
    
}
#uno{
    background-color:burlywood ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
#dos{
    background-color:burlywood ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
h1, h2, h3, h4{
    color:brown;
    background-color:burlywood;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

p, blockquote{
    text-align: justify;
}

ol, li{
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

cite{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

<link rel="stylesheet" href="practica_4.html">